<form [formGroup]="registerForm" (ngSubmit)="registerForm.valid && register()" autocomplete="off">
    <h2 class="text-center text-primary">Sign up</h2>
    <hr>

    <div class="mb-3">
        <label class="margin-right:10px">Je suis :</label>
        <label class="form-check-label">
            <input type="radio" class="form-check-input" value="male" formControlName="gender"> Homme
        </label>
        <label class="form-check-label ms-3">
            <input type="radio" class="form-check-input" value="femelle" formControlName="gender"> Femme
        </label>
    </div>

    <app-text-input 
        [formControl]="$any(registerForm.controls['username'])"
        [label]="'Nom d utilisateur'"
    ></app-text-input>

    <app-text-input 
        [formControl]="$any(registerForm.controls['knowAs'])"
        [label]="'Pseudo'"
    ></app-text-input>

    <app-date-picker
        [formControl]="$any(registerForm.controls['dateOfBirth'])"
        [label]="'Date de naissance'"
        [maxDate]="maxDate"
    ></app-date-picker>

    <app-text-input 
        [formControl]="$any(registerForm.controls['city'])"
        [label]="'Ville'"
    ></app-text-input>

    <app-text-input 
        [formControl]="$any(registerForm.controls['country'])"
        [label]="'Pays'"
    ></app-text-input>

    <app-text-input 
        [formControl]="$any(registerForm.controls['password'])"
        [label]="'Password'"
        [type]="'password'"
    ></app-text-input>

    <app-text-input 
        [formControl]="$any(registerForm.controls['confirmPassword'])"
        [label]="'confirmation de mot de passe'"
        [type]="'password'"
    ></app-text-input>

    <div class="row" ingIf="validationErrors">
        <ul class="text-danger">
            <li *ngFor="let error of validationErrors">
                {{error}}
            </li>
        </ul>
    </div>

    <div class="text-center">
        <button [disabled]="!registerForm.valid" class="btn btn-success me-2" type="submit">Register</button>
        <button class="btn btn-default" type="button" (click)="cancel()">Cancel</button>
    </div>
</form>